.newComment {
    input{
        margin-top: 10px;
    }
    input[type="text"]{
        width: calc(100% - 84px);
    }
    input[type="submit"]{
        margin-left: 2px;
        width: 70px;
    }
}